.screen-height{
    height: 100vh;
}

.flex-rows{
    display: flex;
    flex-direction: rows;
}

.flex-col{
    display: flex;
    flex-direction: col;
}

.title-area{
    height: 10vh;
    padding: 3vh;
}

.description-area{
    padding: 10vh 4vw 0 0;
    text-align: justify;
}

.options-area{
    padding: 4vh 0 0 3vw;
}

.top-area{
    height: 50vh;
}

.bottom-area{
    height: 40vh;
}

#title-main{
    font-size: 6em;
    padding: 35vh 0 0 0;
}

#subtitle{
    font-size: 3em;
    padding: 5vh 0 0 0;
}

.btn-submit{
    margin: 10vh 0 0 3vw;
}